.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

thead {
  background-color: #FAFAFA;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}

.user-selection {
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.user-selection-value {
  margin-right: 1em;
}

.start-date {
  margin-right: 1em;
}